---
import Feed from '../components/Feed.astro';
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Keep</title>
	</head>
	<body>
		<main>
			<h1>The Keep</h1>
			<Feed />
		</main>
	</body>
</html>
